<div class="w-50 mx-auto pt-5">
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
  
    <app-custom-input
      label="Email:"
      type="email"
      id="email"
      [control]="emailControl"
      placeholder="pedro@gmail.com"
      errorMessage="Invalid email."
    ></app-custom-input>
  
    <app-custom-input
      label="Password:"
      type="password"
      id="password"
      [control]="passwordControl"
      placeholder=""
      errorMessage="Invalid password."
    ></app-custom-input>
    
    <app-custom-button
          className="btn btn-primary"
          type="submit"
          [disabled]="loginForm.invalid"
          name="Login"
    ></app-custom-button>

  </form>
</div>
  