<div class="w-75 m-auto">
    <div class="row">
        <div class="col">
            <h1 class="col">Products</h1>
        </div>
        <div class="col d-flex justify-content-end">
            <app-custom-link-button
            className="btn btn-primary"
            name="New Product"
            routerLink="/products/new"
            ></app-custom-link-button>
        </div>
    </div>
    <app-custom-table
        [columns]="columns"
        [data]="products"
        [showPagination]="true"
        [pageSize]="limit"
        [totalItems]="totalProducts"
        (delete)="openDeleteDialog($event)"
        (pageChange)="fetchPage($event)"
    ></app-custom-table>
</div>
