<div class="w-50 mx-auto pt-5">
    <form [formGroup]="registerForm" (ngSubmit)="submit()">

      <app-custom-input
         label="First Name:"
         type="text"
         id="firstName"
         [control]="firstNameControl"
         placeholder="Pedro"
         errorMessage="Invalid first name."
      ></app-custom-input>
    
      <app-custom-input
         label="Last Name:"
         type="text"
         id="lastName"
         [control]="lastNameControl"
         placeholder="Perez"
         errorMessage="Invalid last name."
      ></app-custom-input>
   
      <app-custom-input
         label="Email:"
         type="email"
         id="email"
         [control]="emailControl"
         placeholder="pedro@gmail.com"
         errorMessage="Invalid email."
      ></app-custom-input>

      <app-custom-input
         label="Phone:"
         type="text"
         id="phone"
         [control]="phoneControl"
         placeholder="5522292928"
         errorMessage="Invalid phone."
      ></app-custom-input>

      <app-custom-input
         label="Password:"
         type="password"
         id="password"
         [control]="passwordControl"
         placeholder=""
         errorMessage="Invalid password."
      ></app-custom-input>

      <app-custom-button
          className="btn btn-primary"
          type="submit"
          [disabled]="registerForm.invalid"
          name="Register"
      ></app-custom-button>

    </form>
  </div>
