<div class="w-75 m-auto">
    <div class="row">
        <div class="col">
            <h1 class="col">Brands</h1>
        </div>
        <div class="col d-flex justify-content-end">
            <app-custom-link-button
            className="btn btn-primary"
            name="New Brand"
            routerLink="/brands/new"
            ></app-custom-link-button>
        </div>
    </div>
    <app-custom-table
        [columns]="columns"
        [data]="brands"
        [showPagination]="false"
        (delete)="openDeleteDialog($event)"
    ></app-custom-table>
</div>
